// colors
$w: #fff;
$b: #000;
$charcoal: #444;
$pink: #ff2965;
$orange: #ff5b3d;

$grey_base: #e6e6e6;
$grey: #999;
$digital_blue:#1797cd;
$digital_blue_dark:#006f9e;
$darkest: #333;
$pol_green: #cdc200;
$pol_green_dark: #8f8700;

// typo
$helvetica: Helvetica, sans-serif;
$serif: 'Roboto Slab', serif;;
$sans:'Roboto', sans-serif;;
$fa: 'FontAwesome';

// fontface example - https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
//@include font-face('Roboto', css/fonts/Roboto/Roboto-Regular, null, null, woff2);
//@include font-face('Roboto_Slab', css/fonts/Roboto_Slab/Roboto_Slab-Regular, null, null, woff2);
%sans{ font-family: 'Roboto', sans-serif;}
%serif{ font-family: 'Roboto Slab', serif;}

// Typography
$base-font-family: $sans;
$heading-font-family: $serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: lighten($base-border-color, 10%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
