@mixin josefin{
    font-family: 'Josefin Sans', sans-serif;
}

@mixin roboto{
    font-family: 'Roboto Slab', serif;
}

@mixin hexagon ($width,$height) {
    position: relative;
    width: $height; 
    height: 36.64px;
    background-color: #000;
    margin: 17.32px 0;
//    top:30px;
    
    &:before{
        content: "";
        position: absolute;
        width: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        
        bottom: 100%;
        border-bottom: 17.32px solid #000;
        left: 0;
    }
    
    &:after{
        content: "";
        position: absolute;
        width: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        
        top: 100%;
        width: 0;
        border-top: 17.32px solid #000;
        left: 0;
    }
}

body{
    @include roboto;
}

form{
    fieldset{
        background: none;
        
        label{
            @include roboto;
            font-size: 0.75em;
            font-weight: 300;
        }
        
        input{
            border: none;
        }
    }
}

ul.hex {
    list-style: none;
    padding: 0 1em;

    li {
        @include josefin;
        padding-left: 1em;
        position: relative;
        border-color: rgba(0,0,0, 1);
        line-height: 1em;
        font-size: .8Sem;
        padding-bottom: .75em;
        
        &:before, &:after{
            position: absolute;
            content: "";
            left: 0%;
            top: .45em;
            border-color: transparent;
            border-style: solid;
            width: 11px;
            height: 5px;
            border-width: 0px 3px;
        }
        
        &:before {
            margin-top: -5px;
            border-bottom: 5px solid;
            border-bottom-color: inherit;
        }
        
        &:after {
            margin-top: 0px;
            border-top: 5px solid;
            border-top-color: inherit;
        }
    }
}

.arrow{
    @include clearfix();
    
    &.right{
        display: block;
        position: relative;
        float: right;
        right:0.5em;

        &:after{
            font-family: 'FontAwesome';
            content: '\f054';
            display: block;
        }
    }
    
    
    &:hover,&:focus,&:active{
        color: $action-color;
        cursor: pointer;
    }
}

.modal{
    @include max-width($mobile) {
    
        .modal-content{
            padding: 10px;
            margin-top: 120px;
            
            fieldset{
                margin: 0;
                padding: 0;
                max-width: 100%;
                overflow: hidden;
                font-size: .75em;
                
                input, select, textarea{
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}


@mixin colored-section{
    color:white;
    display: block;
    width: 100%;
    margin:0;
    padding: 1.5em;

    &:after{
        content: "";
        padding-bottom: 50%;
        display: block;
    }
}

form{
    select{
        width: 100%;
    }
}



@mixin framing_skewed(){
    $skewed_f: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='framings skewed' viewBox='0 0 1350 189'%3E%3Cstyle type='text/css'%3E .main%7Bfill:%23006F9E;%7D .sub%7Bfill:%231797CD;%7D%0A%3C/style%3E%3Cpolygon class='main' points='0 189 1350 189 0 0 '/%3E%3Cpolygon class='sub' points='1350 0 0 189 1350 189 '/%3E%3C/svg%3E");
    
    &::before{
        content: $skewed_f;
        display: inline;
        padding-top:14%;
        width: 100%;
        position: absolute;
    }
    
    &::after{
        content: $skewed_f;
        display: inline;
        padding-top:14%;
        width: 100%;
        position: absolute;
        transform: rotate(180)
    }
}

