@mixin hexagon ($width,$height) {
    position: relative;
    width: $height; 
    height: 36.64px;
    background-color: #000;
    margin: 17.32px 0;
//    top:30px;
    
    &:before{
        content: "";
        position: absolute;
        width: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        
        bottom: 100%;
        border-bottom: 17.32px solid #000;
        left: 0;
    }
    
    &:after{
        content: "";
        position: absolute;
        width: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        
        top: 100%;
        width: 0;
        border-top: 17.32px solid #000;
        left: 0;
    }
}

.linktext{    
    @extend %serif;
    float: right;
    padding-right: 1.5em;
    position: relative;
    text-transform: lowercase;
    line-height: 1em;
    margin-top: -1em;

    &::after{
        content: "\f063";
        font-family: $fa;
        position: absolute;
        margin-right: -1.5em;
        padding-left: .5em;
    }
    
    &:hover{
        color: $action-color;
        cursor: pointer;
    }
}

form{
    fieldset{
        background: none;
        
        label{
            @extend %serif;
            font-size: 0.75em;
            font-weight: 300;
        }
        
        input{
            border: none;
        }
    }
}

ul.hex {
    list-style: none;
    padding: 0 1em;

    li {
        @extend %sans;
        padding-left: 1em;
        position: relative;
        border-color: rgba(0,0,0, 1);
        line-height: 1em;
        font-size: .8Sem;
        padding-bottom: .75em;
        
        &:before, &:after{
            position: absolute;
            content: "";
            left: 0%;
            top: .45em;
            border-color: transparent;
            border-style: solid;
            width: 11px;
            height: 5px;
            border-width: 0px 3px;
        }
        
        &:before {
            margin-top: -5px;
            border-bottom: 5px solid;
            border-bottom-color: inherit;
        }
        
        &:after {
            margin-top: 0px;
            border-top: 5px solid;
            border-top-color: inherit;
        }
    }
}

.arrow{
    @include clearfix();
    
    &.right{
        display: block;
        position: relative;
        float: right;
        right:0.5em;

        &:after{
            font-family: 'FontAwesome';
            content: '\f054';
            display: block;
        }
    }
    
    
    &:hover,&:focus,&:active{
        color: $action-color;
        cursor: pointer;
    }
}

.modal{
    @include max-width($mobile) {
    
        .modal-content{
            padding: 10px;
            margin-top: 120px;
            
            fieldset{
                margin: 0;
                padding: 0;
                max-width: 100%;
                overflow: hidden;
                font-size: .75em;
                
                input, select, textarea{
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}


@mixin colored-section{
    color:white;
    display: block;
    width: 100%;
    margin:0;
    padding: 1.5em;

    &:after{
        content: "";
        padding-bottom: 50%;
        display: block;
    }
}

form{
    select{
        width: 100%;
    }
}

/// FRAMINGS
@mixin framing{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
@mixin f_top($f_padding:10%){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top:$f_padding;    
    margin-top: $f_padding*-1;
    content:" ";
    top:0;
    left: 0;
    display: block;
    width: 100%;
    position: absolute;
}

@mixin f_bottom($f_padding:10%){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom:$f_padding;    
    margin-bottom: $f_padding*-1;
    content:" ";
    bottom:0;
    left: 0;
    display: block;
    width: 100%;
    position: absolute;
}

@mixin f_skewed($maincolor:'#333',$subcolor:'#222'){
    $skewed_f: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='framings skewed' viewBox='0 0 1350 189'%3E%3Cstyle type='text/css'%3E .main%7Bfill:#{url-friendly-colour($maincolor)};%7D .sub%7Bfill:#{url-friendly-colour($subcolor)};%7D%0A%3C/style%3E%3Cpolygon class='sub' points='0 189 1350 189 0 0 '/%3E%3Cpolygon class='main' points='1350 0 0 189 1350 189 '/%3E%3C/svg%3E");
    
    &::before{
        background-image: $skewed_f;
        @include f_top(14%);
    }
    
    &::after{
        background-image: $skewed_f;
        @include f_bottom(14%);
        transform: rotate(180deg)
    }
}

@mixin f_arrowdown($color:'#333'){
    
    &::before{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='framing downarrow negative' viewBox='0 0 2200 55'%3E%3Cstyle type='text/css'%3E .element%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cpolygon class='element' points='1179 0 1179 0 1100 45.6 1021 0 1021 0 0 0 0 56 2200 56 2200 0 '/%3E%3C/svg%3E");
        @include f_top(3%);
    }
    
    &::after{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='framing arrowdown' viewBox='0 0 2200 55'%3E%3Cstyle type='text/css'%3E .area%7Bfill:none;%7D .arrow%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Crect class='area' width='2200' height='55'/%3E%3Cpolygon class='arrow' points='1179 0 1179 0 1100 45.6 1021 0 1021 0 '/%3E%3C/svg%3E");
        @include f_bottom(3%);
    }
}

@mixin hexa_marker_right($color:#000){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='hexa pointer right' viewBox='0 0 216.5 500'%3E%3Cstyle type='text/css'%3E .element%7Bfill:#{url-friendly-colour($color)};%7D%3C/style%3E%3Cpolygon class='element' points='216.5 500 0 375 0 125 216.5 0 '/%3E%3C/svg%3E%0A");
    @include img_sprite(43%);
}
@mixin hexa_marker($color:#000){
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 433 500'%3E%3Cstyle type='text/css'%3E .marker%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cpolygon class='marker' points='433 375 216.5 500 0 375 0 125 216.5 0 433 125 '/%3E%3C/svg%3E");
    position: absolute;
}

@mixin arrow_marker($color:#000){
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 281.3 500'%3E%3Cstyle type='text/css'%3E .marker%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cpath class='marker' d='M272 272L53.2 490.7c-5.9 5.9-13.7 9.3-22 9.3C14.2 500 0 485.9 0 468.8V31.3C0 14.1 14.2 0 31.3 0c8.3 0 16.1 3.4 22 9.3L272 228c5.9 5.9 9.3 13.7 9.3 22C281.3 258.3 277.8 266.1 272 272z'/%3E%3C/svg%3E");
    position: absolute;
}

@mixin beveled_corner($color:grey, $size:10px){
    background: $color; /* default color */
    background:
        -moz-linear-gradient(45deg,  $color $size, $color $size),
        -moz-linear-gradient(135deg, transparent $size, $color $size);
    background:
        -o-linear-gradient(45deg,  $color $size, $color $size),
        -o-linear-gradient(135deg, transparent $size, $color $size);
    background:
        -webkit-linear-gradient(45deg,  $color $size, $color $size),
        -webkit-linear-gradient(135deg, transparent $size, $color $size);
    
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 51% 100%;
    -webkit-background-size: 51% 100%;
    background-size: 51% 100%;
    background-repeat: no-repeat;
}

@mixin tipped($element-color:grey,$background-color:#ccc,$size:70px){
    position: relative;
    background: $element-color; /* default color */
    -webkit-box-shadow: 0 1px 2px #777;
    -moz-box-shadow: 0 2px 1px #777;
    box-shadow: 0 2px 1px #777;

    &::before, &::after, & > .content::before{
        position: absolute;
        z-index: 2;
        content: '';
    }
    
    &::before{
        bottom: ($size/1.9)*-1;
        right: ($size/1.9)*-1;
        width: $size;
        height: $size;
        transform: rotate(45deg);
        z-index: 1;
        background: $background-color;
        
    }
    
    &::after{
        bottom: 0;
        right: 0;
        border: solid 23px shade($element-color,25);
        border-bottom-color: transparent;
        border-right-color: transparent;
        box-shadow: -1px -1px 2px #777;
        z-index: 0;
    }
    
    .content::before{
        right: 0;
        bottom: 22px;
        width: 47px;
        box-shadow: 0 0 3px 0 #666;
        transform: skewY(-45deg);
    }
}
@mixin tipped_solid($color:$action-color){
    $color-dark:shade($color,25);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1921.2 782.9'%3E%3Cstyle type='text/css'%3E .shadow-group%7Bopacity:0.45;%7D .shadow%7Bfill:%234D4D4D;%7D .main%7Bfill:#{url-friendly-colour($color)};%7D .tip-shadow%7Bopacity:0.5;%7D .tip%7Bfill:#{url-friendly-colour($color-dark)};%7D%0A%3C/style%3E%3Cg class='shadow-group'%3E%3Cpolygon class='shadow' points='14.8 3 0 17.9 0 768 14.8 782.9 1825.6 782.9 1921.2 687.3 1921.2 17.9 1906.3 3 '/%3E%3C/g%3E%3Cpolygon class='main' points='17.3 0 2.5 14.8 2.5 763 17.3 777.8 1823.3 777.8 1918.6 682.5 1918.6 14.8 1903.8 0 '/%3E%3Cg class='tip-shadow'%3E%3Cpolygon class='shadow' points='1831.8 675.5 1816.4 690.9 1819.5 777.8 1823.3 777.8 1918.6 682.5 1918.6 678.6 '/%3E%3C/g%3E%3Cpolygon class='tip' points='1838.2 682.5 1823.3 697.3 1823.3 777.8 1918.6 682.5 '/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hexatitle{
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    font-size: 2em;
    line-height:.85em;
    border-bottom: 1px solid darken($action-color,.75);
    padding: 0;

    &::before{
        @include hexa_marker(darken($action-color,.75));
        width: .75em;
    }

    &.sub{
        padding-bottom: .7em;
        margin: 0;
        border-bottom:none;

        & + h2{
            margin: -1.3em 0 1.5em 0;
            padding: 0;
            line-height: 1em;
            font-size: 1em;
            text-align: inherit;
            font-weight: 100;
            border-bottom: 1px solid $darkest;
            line-height: 1.5em;
        }
    }
    
    &.centered{
        padding-top: 1.2em;
        text-align: center;
        
        &::before{
            margin-top: -1.3em;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        &.sub + h2{text-align: center;}

    }
    
    &.left{
        text-align: left;
        padding-left: 1em;
        
        &::before{
            left: 0;
        }
    }
    
    &.right{
        text-align: right;
        padding-right: 1em;
        
        &::before{
            right: 0;
        }
        &.sub + h2{text-align: right;}
    }
}

@mixin monolito_izq($color:#000000){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 542.9 719.7'%3E%3Cstyle type='text/css'%3E .clipper%7Bclip-path:url%28%23SVGID_2_%29;%7D .hexa%7Bopacity:0.5;fill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cdefs%3E%3Crect width='542.9' height='719.7'/%3E%3C/defs%3E%3CclipPath%3E%3Cuse xlink:href='%23SVGID_1_'/%3E%3C/clipPath%3E%3Cg class='clipper'%3E%3Cpolygon class='hexa' points='306.6 627.7 -0.6 805.2 -307.9 627.7 -307.9 272.9 -0.6 95.5 306.6 272.9 '/%3E%3Cpolygon class='hexa' points='536.9 672 306.6 804.9 76.4 672 76.4 406.1 306.6 273.2 536.9 406.1 '/%3E%3Cpolygon class='hexa' points='306.6 804.9 76.4 672 76.4 406.1 306.6 273.2 '/%3E%3Cpolygon class='hexa' points='306.9 804.8 153.1 893.6 -0.6 804.8 -0.6 627.2 153.1 538.4 306.9 627.2 '/%3E%3Cpolygon class='hexa' points='153.1 893.6 -0.6 804.8 -0.6 627.2 153.1 538.4 '/%3E%3Cpolygon class='hexa' points='306.6 273 152.8 361.9 -1 273 -1 95.5 152.8 6.7 306.6 95.5 '/%3E%3Cpolygon class='hexa' points='152.8 361.9 -1 273 -1 95.5 152.8 6.7 '/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
}
