
form fieldset{
    background: none;

    label{
        @extend %serif;
        font-size: 0.75em;
        font-weight: 300;
        
        &.err{
            color:$sport_orange_dark;
            font-weight: 400;
            display:block;
            position: relative;

            &::before{font-family: 'FontAwesome'; content: "\f12a"; position: absolute; left: -.75em; font-weight: 100;}
        }
    }
    
    input,select,textarea{
        @extend %sans;
        width: 100%;
        border: none;
        font-weight: 100;
        text-transform: uppercase;
    }
}

.linktext{    
    @extend %serif;
    float: right;
    padding-right: 1.5em;
    position: relative;
    text-transform: lowercase;
    line-height: 1em;
    margin-top: -1em;

    &::after{
        content: "\f063";
        font-family: $fa;
        position: absolute;
        margin-right: -1.5em;
        padding-left: .5em;
    }

    &:hover{
        color: $action-color;
        cursor: pointer;
    }
}

ul.hex {
    list-style: none;
    padding: 0 1em;

    li {
        @extend %sans;
        padding-left: 1em;
        position: relative;
        border-color: rgba(0,0,0, 1);
        line-height: 1em;
        font-size: .8Sem;
        padding-bottom: .75em;

        &:before, &:after{
            position: absolute;
            content: "";
            left: 0%;
            top: .45em;
            border-color: transparent;
            border-style: solid;
            width: 11px;
            height: 5px;
            border-width: 0px 3px;
        }

        &:before {
            margin-top: -5px;
            border-bottom: 5px solid;
            border-bottom-color: inherit;
        }

        &:after {
            margin-top: 0px;
            border-top: 5px solid;
            border-top-color: inherit;
        }
    }
}

.arrow{
    @include clearfix();

    &.right{
        display: block;
        position: relative;
        float: right;
        right:0.5em;

        &:after{
            font-family: 'FontAwesome';
            content: '\f054';
            display: block;
        }
    }


    &:hover,&:focus,&:active{
        color: $action-color;
        cursor: pointer;
    }
}

.modal{
    @include max-width($tablet) {

        .modal-content{
            padding: 10px;
            margin-top: 120px;

            fieldset{
                margin: 0;
                padding: 0;
                max-width: 100%;
                overflow: hidden;
                font-size: .75em;

                input, select, textarea{
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// LOGO MIXIN & CLASS
@mixin wm4($color:#000000){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 177.7'%3E%3Cstyle type='text/css'%3E .logo%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cpath class='logo' d='M348.7 1.1c-0.5 54.6-0.1 110.1-0.2 165 -0.4 0.2-1-1.1-1.5-1.9 -32.1-53.9-63.9-109.2-96-163.1 -4.1 0-8.2 0-12.3 0 -0.5 58.5-0.1 117.8-0.2 176.7 2.3 0 4.5 0 6.8 0 0-57.7 0-115.4 0-173.1 34.1 57.5 68 115.4 102 173.1 2.5 0 4.9 0 7.4 0 0-57.7 0-115.4 0-173.1 34.2 57.5 68 115.3 102 173.1 2.6 0 5.2 0 7.8 0 -34.6-59-69.3-117.9-104.1-176.7C356.4 1.1 352.5 1.1 348.7 1.1zM219.2 1.1c0 57.5 0 115.1 0 172.6 -0.7 0.4-0.9-1.2-1.5-2.1C184.5 115 150.3 57.8 117.2 1.1c-2.5 0-4.9 0-7.4 0 0 57.6 0 115.2 0 172.8 -0.6 0.3-0.5-0.7-0.6-0.8C75 116.5 41.8 57.8 7.6 1.1c-2.5 0-5.1 0-7.6 0 0 0.1 0 0.3 0 0.4 34.8 58.6 69.3 117.4 103.9 176.2 4 0 8 0 12.1 0 0-55.1 0-110.2 0-165.2 32.6 54.9 65 110 97.3 165.2 4.2 0 8.5 0 12.7 0 0-58.8 0-117.6 0-176.4C224.1 0.8 221.4 1.2 219.2 1.1zM500 51.6c0-1.3 0-2.7 0-4 -3.8-0.1-8.2 0.3-11.6-0.2 0-15.8 0-31.6 0-47.4 -1.3 0-2.5 0-3.8 0 -11.9 17.3-24.2 34.2-36 51.6 11.9 0 23.8 0 35.7 0 0 4.4 0 8.7 0 13.1 1.3 0 2.5 0 3.8 0 0.5-4 0.1-8.8 0.2-13.1C492.2 51.6 496.1 51.6 500 51.6zM484.3 47.6c-9.4 0-18.8 0-28.1 0C465.3 34 475.1 21 484.1 7.4 484.6 20.4 484.2 34.3 484.3 47.6z'/%3E%3C/svg%3E");
}
.wm4{
    @include img_sprite(35.5%);
    @include wm4;
    &::before{position: relative;}
}

@mixin hexagon ($width,$height) {
    position: relative;
    width: $height; 
    height: 36.64px;
    background-color: #000;
    margin: 17.32px 0;
//    top:30px;
    
    &:before{
        content: "";
        position: absolute;
        width: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        
        bottom: 100%;
        border-bottom: 17.32px solid #000;
        left: 0;
    }
    
    &:after{
        content: "";
        position: absolute;
        width: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        
        top: 100%;
        width: 0;
        border-top: 17.32px solid #000;
        left: 0;
    }
}

@mixin colored-section{
    color:white;
    display: block;
    width: 100%;
    margin:0;
    padding: 1.5em;

    &:after{
        content: "";
        padding-bottom: 50%;
        display: block;
    }
}

/// FRAMINGS
@mixin framing_v{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
@mixin framing_h{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

@mixin f_top($f_padding:10%){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top:$f_padding;    
    margin-top: ($f_padding*-1)+.5;
    content:" ";
    top:0;
    left: 0;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 100;
}
@mixin f_bottom($f_padding:10%){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom:$f_padding;    
    margin-bottom: ($f_padding*-1)+0.5;
    content:" ";
    bottom:0;
    left: 0;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 100;
}

@mixin f_left($f_padding:30%){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    padding-left:$f_padding;    
    margin-left: $f_padding*-1;
    content:" ";
    bottom:0;
    left: -3%;
    display: block;
    min-height: 100%;
    position: absolute;
    z-index: 100;
}
@mixin f_right($f_padding:30%){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    padding-right:$f_padding;    
    margin-right: $f_padding*-1;
    content:" ";
    bottom:0;
    right: -3%;
    display: block;
    min-height: 100%;
    position: absolute;
    z-index: 100;
}

@mixin f_jagged_v($maincolor:'#333',$subcolor:'#222'){
    $skewed_f: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='framings skewed' viewBox='0 0 1350 189'%3E%3Cstyle type='text/css'%3E .main%7Bfill:#{url-friendly-colour($maincolor)};%7D .sub%7Bfill:#{url-friendly-colour($subcolor)};%7D%0A%3C/style%3E%3Cpolygon class='sub' points='0 189 1350 189 0 0 '/%3E%3Cpolygon class='main' points='1350 0 0 189 1350 189 '/%3E%3C/svg%3E");
    
    &::before{
        background-image: $skewed_f;
        @include f_top(14%);
    }
    
    &::after{
        background-image: $skewed_f;
        @include f_bottom(14%);
        transform: rotate(180deg)
    }
}

@mixin f_jagged_h($maincolor:'#FBAE17',$subcolor:'#DEC493'){
    $jagged_h: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 768'%3E%3Cstyle type='text/css'%3E .back%7Bfill:#{url-friendly-colour($subcolor)};%7D .front%7Bfill:#{url-friendly-colour($maincolor)};%7D%0A%3C/style%3E%3Cpolygon class='back' points='120 768 120 0 107.5 0 0 768 '/%3E%3Cpolygon class='front' points='120 0 120 768 107.5 768 0 0 '/%3E%3C/svg%3E");
    
    &::before{
        background-image: $jagged_h;
        @include f_left(30%);
    }
    
    &::after{
        background-image: $jagged_h;
        @include f_right(30%);
        transform: rotate(180deg)
    }
}

@mixin f_arrowdown($color:'#333'){
    
    &::before{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='framing downarrow negative' viewBox='0 0 2200 55'%3E%3Cstyle type='text/css'%3E .element%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cpolygon class='element' points='1179 0 1179 0 1100 45.6 1021 0 1021 0 0 0 0 56 2200 56 2200 0 '/%3E%3C/svg%3E");
        @include f_top(3%);
    }
    
    &::after{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='framing arrowdown' viewBox='0 0 2200 55'%3E%3Cstyle type='text/css'%3E .area%7Bfill:none;%7D .arrow%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Crect class='area' width='2200' height='55'/%3E%3Cpolygon class='arrow' points='1179 0 1179 0 1100 45.6 1021 0 1021 0 '/%3E%3C/svg%3E");
        @include f_bottom(3%);
    }
}

@mixin angled_down($color:#333, $height:50px){
    &:after {
        content: '';
        position: absolute;
        height: $height;
        bottom: ($height - 3px) * -1;
        width: 100%;
        display: block;
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
        z-index: 99;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='750' height='77' viewBox='0 0 750 77.4'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cpolygon class='st0' points='0 20.9 377.6 77.4 750 20.9 750 0 0 0 '/%3E%3C/svg%3E");
    }
}

@mixin hexa_marker_right($color:#000){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='hexa pointer right' viewBox='0 0 216.5 500'%3E%3Cstyle type='text/css'%3E .element%7Bfill:#{url-friendly-colour($color)};%7D%3C/style%3E%3Cpolygon class='element' points='216.5 500 0 375 0 125 216.5 0 '/%3E%3C/svg%3E%0A");
    @include img_sprite(43%);
}

@mixin hexa_marker($color:#000){
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 433 500'%3E%3Cstyle type='text/css'%3E .marker%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cpolygon class='marker' points='433 375 216.5 500 0 375 0 125 216.5 0 433 125 '/%3E%3C/svg%3E");
    position: absolute;
}
.hexatitle{
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    font-size: 2em;
    line-height:.85em;
    border-bottom: 1px solid darken($action-color,.75);
    padding: 0;

    &::before{
        @include hexa_marker(darken($action-color,.75));
        width: .75em;
    }

    &.sub{
        padding-bottom: .7em;
        margin: 0;
        border-bottom:none;

        & + h2{
            margin: -1.3em 0 1.5em 0;
            padding: 0;
            line-height: 1em;
            font-size: 1em;
            text-align: inherit;
            font-weight: 100;
            border-bottom: 1px solid $darkest;
            line-height: 1.5em;
        }
    }

    &.centered{
        padding-top: 2em;
        text-align: center;

        &::before{
            margin-top: -1.3em;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        &.sub + h2{text-align: center;}

    }

    &.left{
        text-align: left;
        padding-left: 1em;

        &::before{
            left: 0;
        }
    }

    &.right{
        text-align: right;
        padding-right: 1em;

        &::before{
            right: 0;
        }
        &.sub + h2{text-align: right;}
    }
}

@mixin arrow_marker($color:#000){
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 281.3 500'%3E%3Cstyle type='text/css'%3E .marker%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cpath class='marker' d='M272 272L53.2 490.7c-5.9 5.9-13.7 9.3-22 9.3C14.2 500 0 485.9 0 468.8V31.3C0 14.1 14.2 0 31.3 0c8.3 0 16.1 3.4 22 9.3L272 228c5.9 5.9 9.3 13.7 9.3 22C281.3 258.3 277.8 266.1 272 272z'/%3E%3C/svg%3E");
    position: absolute;
}

@mixin beveled_corner($color:grey, $size:10px){
    background: $color; /* default color */
    background:
        -moz-linear-gradient(45deg,  $color $size, $color $size),
        -moz-linear-gradient(135deg, transparent $size, $color $size);
    background:
        -o-linear-gradient(45deg,  $color $size, $color $size),
        -o-linear-gradient(135deg, transparent $size, $color $size);
    background:
        -webkit-linear-gradient(45deg,  $color $size, $color $size),
        -webkit-linear-gradient(135deg, transparent $size, $color $size);
    
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 51% 100%;
    -webkit-background-size: 51% 100%;
    background-size: 51% 100%;
    background-repeat: no-repeat;
}

@mixin tipped($element-back:grey,$element-color:grey,$background-color:#ccc,$size:70px){
    position: relative;
    background: $element-back; /* default color */
    -webkit-box-shadow: 0 1px 2px #777;
    -moz-box-shadow: 0 2px 1px #777;
    box-shadow: 0 2px 1px #777;

    &::before, &::after, & > .content::before{
        position: absolute;
        z-index: 2;
        content: '';
    }
    
    &::before{
        bottom: ($size/1.9)*-1;
        right: ($size/1.9)*-1;
        width: $size;
        height: $size;
        transform: rotate(45deg);
        z-index: 1;
        background: $background-color;
        
    }
    
    &::after{
        bottom: 0;
        right: 0;
        border: solid 23px shade($element-color,25);
        border-bottom-color: transparent;
        border-right-color: transparent;
        box-shadow: -1px -1px 2px #777;
        z-index: 0;
    }
    
    .content::before{
        right: 0;
        bottom: 22px;
        width: 47px;
        box-shadow: 0 0 3px 0 #666;
        transform: skewY(-45deg);
    }
}
@mixin tipped_solid($color:$action-color){
    $color-dark:shade($color,25);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1921.2 782.9'%3E%3Cstyle type='text/css'%3E .shadow-group%7Bopacity:0.45;%7D .shadow%7Bfill:%234D4D4D;%7D .main%7Bfill:#{url-friendly-colour($color)};%7D .tip-shadow%7Bopacity:0.5;%7D .tip%7Bfill:#{url-friendly-colour($color-dark)};%7D%0A%3C/style%3E%3Cg class='shadow-group'%3E%3Cpolygon class='shadow' points='14.8 3 0 17.9 0 768 14.8 782.9 1825.6 782.9 1921.2 687.3 1921.2 17.9 1906.3 3 '/%3E%3C/g%3E%3Cpolygon class='main' points='17.3 0 2.5 14.8 2.5 763 17.3 777.8 1823.3 777.8 1918.6 682.5 1918.6 14.8 1903.8 0 '/%3E%3Cg class='tip-shadow'%3E%3Cpolygon class='shadow' points='1831.8 675.5 1816.4 690.9 1819.5 777.8 1823.3 777.8 1918.6 682.5 1918.6 678.6 '/%3E%3C/g%3E%3Cpolygon class='tip' points='1838.2 682.5 1823.3 697.3 1823.3 777.8 1918.6 682.5 '/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@mixin monolito_izq($color:#000000){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 542.9 719.7'%3E%3Cstyle type='text/css'%3E .clipper%7Bclip-path:url%28%23SVGID_2_%29;%7D .hexa%7Bopacity:0.5;fill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cdefs%3E%3Crect width='542.9' height='719.7'/%3E%3C/defs%3E%3CclipPath%3E%3Cuse xlink:href='%23SVGID_1_'/%3E%3C/clipPath%3E%3Cg class='clipper'%3E%3Cpolygon class='hexa' points='306.6 627.7 -0.6 805.2 -307.9 627.7 -307.9 272.9 -0.6 95.5 306.6 272.9 '/%3E%3Cpolygon class='hexa' points='536.9 672 306.6 804.9 76.4 672 76.4 406.1 306.6 273.2 536.9 406.1 '/%3E%3Cpolygon class='hexa' points='306.6 804.9 76.4 672 76.4 406.1 306.6 273.2 '/%3E%3Cpolygon class='hexa' points='306.9 804.8 153.1 893.6 -0.6 804.8 -0.6 627.2 153.1 538.4 306.9 627.2 '/%3E%3Cpolygon class='hexa' points='153.1 893.6 -0.6 804.8 -0.6 627.2 153.1 538.4 '/%3E%3Cpolygon class='hexa' points='306.6 273 152.8 361.9 -1 273 -1 95.5 152.8 6.7 306.6 95.5 '/%3E%3Cpolygon class='hexa' points='152.8 361.9 -1 273 -1 95.5 152.8 6.7 '/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
}

@mixin jaggedStrip($color:$warn-yellow){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1366 131'%3E%3Cstyle type='text/css'%3E .shape%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cpolygon class='shape' points='114.6 2.9 1365.5 2.9 1365.5 131 14.4 131 '/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-position: bottom left;
}

@mixin arrow($color:#000){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cstyle type='text/css'%3E .arrow%7Bfill:#{url-friendly-colour($color)};%7D%0A%3C/style%3E%3Cpath class='arrow' d='M121.7 66.6c0-4 1.8-7.5 4.4-10.1l22-22c2.6-2.6 6.6-4.4 10.1-4.4 3.5 0 7.5 1.8 10.1 4.4l205.5 205.5c2.6 2.6 4.4 6.6 4.4 10.1s-1.8 7.5-4.4 10.1L168.4 465.6c-2.6 2.6-6.6 4.4-10.1 4.4 -3.5 0-7.5-1.8-10.1-4.4l-22-22c-2.6-2.6-4.4-6.6-4.4-10.1 0-3.5 1.8-7.5 4.4-10.1L299.4 250 126.1 76.7C123.5 74.1 121.7 70.1 121.7 66.6z'/%3E%3C/svg%3E");
}