footer{
    background-color: $b;
    
    nav#footer-icons{
        text-align: center;
        padding: 1.5em;
        ul{
            li{
                //float: right;
                display: inline-block;
                padding: 0 .5em;  
                
                a{
                    color: $w;
                    transition: all 0.2s ease-in-out;

                    &:hover{
                        color:$action-color;
                    }
                }
            }
        }
    }
}