footer{
    display: table;
    background-color: $b;
    
    nav#footer-icons{
        text-align: center;
        padding: 1.5em;
        ul{
            li{
                //float: right;
                display: inline-block;
                padding: 0 .5em;  
                
                a{
                    color: $w;
                    transition: all 0.2s ease-in-out;

                    &:hover{
                        color:$action-color;
                    }
                }
            }
        }
    }
    
    &.fullwidth{
        h3{
            @extend %sans;
            text-transform: uppercase;
            font-weight: 100;
        }
    }
    
    @include max-width($mobile){
        &.fullwidth{
            text-align: center;
            color: $w;
            padding: 1.5em;
            
            figure.gotop{margin: 1em auto;}
            svg.wm4_logo{
                width: 50%;
                margin: 0 auto 1.5em auto;

                path{fill:$w;}
            } 
            
            h3{font-size: .75em;}
        }
    }
}