header.centered-navigation{
//    background: rgba(0,0,0,.1);
    position: absolute;
    z-index: 999;
    
    nav{
        #contacto_head{
            @include hexagon(60px,60px);
            
            span{
                display: block;
                font-size: .75em;
                color: $w;
                line-height: 30px;
                text-align: center;
                margin: 0 auto;
            }
            
            @include transition(background-color .125s .25s);
            
            &:after, &:before{
                @include transition(border-color .125s .25s);
            }
            
            &:hover{
                background-color: $action-color;
                cursor: pointer;
                
                &:before{
                    border-bottom-color: $action-color;
                }
                
                &:after{
                    border-top-color: $action-color;
                }
            }
        }
        
        .tooltip{
            width:12em;
        }
        
        @include max-width($mobile){
            span.contacto-icon{font-size: 1em!important; line-height: 20px;}
            #contacto_head{
                width: 30px;
                height: 18px;
                
                &:before{ 
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 8.66px solid #000;
                }
                
                &:after{ 
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 8.66px solid #000;
                }
                
                >span{
                    line-height: 18px;
                }
                
                .nav-link:first-child {
                    margin-left: 1em;
                }
            }
        }
    }
}

header.minimal-navigation{
    display: block;
    height: 9em;
    position: relative;
    top:0;
    
    div.container{
        width: 100%;
        @include outer-container;
        max-width: $w1150;
        display: block;
        position: relative;
        height: 100%;
    }
    
    nav{
        //background: orange;
        
        ul{
            height: 3em;
            
            li{
                list-style: none;
                font-size: .75em;
                display: block;
                color: $grey;
                text-transform: lowercase;
                line-height: 3em;
                padding: 0;
                margin: 0  1.5em;
                
                &:hover{
                    color: $darkest;
                    //border-bottom: 1px solid $darkest;
                    cursor: pointer;
                }
            }
            
            &.nav-left li{ float: left; }
            &.nav-right li{ float: right; }
        }
    }
    
    .logo {
        float: right;

        img{
            position: absolute;
            height: 2em;
            width: auto;
            top:50%;
            transform: translateY(-50%); 
            right: 0;
            
            @include max-width($w1150){
                padding-right: 2em;
            } 
        }
    }
    
    .hexa-tip-right{
        position: absolute;
        height: 2em;
        width: 1em;
        top:50%;
        transform: translateY(-100%);       
        right: 1em !important;
        float: right;
        padding-left: 1em;
        margin-top: 3em;
        
        figure{@include hexagon(1em,1em);}
    }
}

header nav#nav_sections{
    //background: orange;

    ul{
        height: 3em;

        li{
            list-style: none;
            font-size: .75em;
            display: block;
            color: $grey;
            text-transform: lowercase;
            //line-height: 3em;
            padding: 0;
            margin: 0  1.5em;

            &:hover{
                color: $darkest;
                //border-bottom: 1px solid $darkest;
                cursor: pointer;
            }
        }

        &.nav-left li{ float: left; }
        &.nav-right li{ float: right; }
    }
}