body.home{
    .main_logo{
        max-width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    #pagepiling section{
        background: white no-repeat center center;
        background-size: cover;
        
        &#home{
            background-color: white;    
            min-height: 100%;
            
            .pp-tableCell{
                padding-bottom: 93px;
                vertical-align: bottom;
            }
        }
        
        &#modelo{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 1280'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23E6E6E6;%7D .st1%7Bfill:%23D53D0E;%7D .st2%7Bfill:%23333333;%7D%0A%3C/style%3E%3Crect class='st0' width='1920' height='1280'/%3E%3Cpolygon class='st1' points='1920 1279 356.9 1280.1 580.4 506.6 966.5 1.1 1920 0 '/%3E%3Cpolygon class='st2' points='1920 1279 1059.6 1280.1 1236.7 664.7 1839.9 1.1 1920 0 '/%3E%3C/svg%3E");
            
            main , aside{
                display: block;
                
                .hexatitle.left{
                    border: none;
                    &::before{
                        @include hexa_marker($darkest);
                    }
                }
            }
            
            main{
                height: 65%;
                height: 65vh;
                padding: 0 3em;
                margin: 150px 0 130px 0;

                article{
                    padding: 0 3em;
                    p{font-size: .95em;}

                    &:first-child{padding-top: 2%;}
                    &:nth-child(2){padding-top: 10%;}
                    &:last-child{
                        color: $w;
                        padding-top: 20%;

                        & > .hexatitle.left{
                            color:$warn-yellow;
                            &::before{
                                @include hexa_marker($warn-yellow);
                            }
                        }
                    }
                }
            }
            
            aside{
                @include jaggedStrip;
                position: absolute;
                height: 130px;
                bottom: 0;
                padding: 1em 0;
                
                h2{
                    font-size: 2em;
                    overflow: hidden;
                    margin-top: 1em;
                }
                
                .unslider-wrapp{
                    margin: auto;
                    height: 100px;
                    overflow: hidden;                    
                    .unslider-arrow {
                        color:$w;
                    }
                    
                    & > .unslider{
                        position: relative;
                    }
                }
                
                .dtwrapper{
                    padding: 0 1.5em;
                    height: 100px;
                    overflow: hidden;
                    text-align: left;
                    
                    dt{
                        @extend %sans;
                        font-weight: 100;
                        font-size: 5em;
                        color: $w;
                        width: 75%;
                        overflow: hidden;
                        float: left;
                        line-height: 100px;
                        margin: 0;
                        text-transform: uppercase;
                    }
                    
                    dd{
                        margin: auto 0;
                        font-size: .75em;
                        width: 25%;
                        float: left;
                        overflow: hidden;
                        color: $darkest;
                        //line-height: .95em;
                    }
                }
            }
        }
        
        &#contacto{
            background-color: $light-gray;
        }
    }    
    
    #cycle {
        
        h3{
            font-size: 2em;
            text-transform: uppercase;
            text-align: center;
            font-weight: 100;
        }
        
        li{
            display: none;
        }
    }    
        
    #unidades{
        position: absolute;
        bottom: 0;
        margin: 0;
        
        h1{
            width: 100%;
            display: inline-block;
            background: $darkest;
            color: white;
            @extend %sans;
            text-align: center;
            line-height: 50px;
            font-weight: 100;
            font-size: 1.25em;
            letter-spacing: .125em;
            margin: 0;
            text-transform: uppercase;
        }
        
        dt{
            @extend %tooltip;
            @extend %serif;
            font-size: 2em;
            width: 33.33%;
            text-transform: uppercase;
            line-height: 50px;
            letter-spacing: 0.05em;
            background: $light-gray;
            margin: 0;
            float: left;

            &:last-child{
                border:none;
            }

            &:hover{
                color:white;
                font-weight: 700;
                background-color: $darkest!important;
            }
            
            span{display: none;}
            
            &.d{background-color: $digital_blue;}
            &.p{background-color: $pol_green;}
            &.s{background-color: $sport_orange;}
        }
    }
    
    .monolito-wrapper{
        padding: 0;
        margin: 0;
        
        &:first-child{float: left;}
        &:last-child{float: right;}
    }

    @include max-width($mobile) {
        background-color: rgba(255,255,255,.5);    
        padding-top:120px;
        font-weight: 300;
        position: relative;

        .main_logo{max-width: 75%;}

        .unidades{
            width:33.3%!important; 
            float:left;
            padding: 0!important;
            margin: 0!important;
            clear: none;
            border-radius: 0;

            h1{
                font-size: .75em;
                margin: .75em auto;
            }

            &.selected{

            }

        }
    }
}


.centered-navigation ul li.nav-link{
    @include max-width($mobile) {
        padding-right: 0;
    }
}

html.pagepiled{
    @include max-width($mobile){
        header{ 
            padding-right: 50px;
        }

        .centered-navigation {
            min-height: 90px;

            .nav-link:first-child{
                margin-left: .5em;
            }
            ul li.nav-link a{
                padding-right: .65em;
            }
        }

        ul.hex li{
            padding-left: 1.5em;
            font-size: 1.25em;
            padding-bottom: 0.2em;
            font-weight: 400;
        }
    }
}


body.mobile{
    $mobile-padding: 1.5em;

    section,main{
        display: table!important;
        width: 100%;
    }    

    section.bloque{
        div#cycle{
            margin: 2em auto;

            h3#cycling{
                font-weight: 100;
                text-transform: uppercase;
            }
        }
    }

    .section-header{
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-size: 2.75em;
        text-align: center;
        font-weight: 100;
        display: block;
        padding: 50px;
    }

    section#unidades_negocio{        
        .section-header{
            font-size: 1.5em;
        }

        article.unidades{
            text-transform: uppercase;
            border-radius: 0;

            margin:0;
            width: 33.33%;
            float:left;
            padding: .15em;
            overflow: hidden;
            display: block;
            height: 200px;
            position: relative;

            h1{
                width: 100%;
                font-size: 2.5em;
                line-height: .95em;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-35%,-50%);
                position: absolute;
            }

            &#digital{
                background-color: #1797cd;
                h1{color:#8bcbe6;}
            }
            &#politico{
                background-color: #cdc200;
                h1{color:#e6e080;}
            }
            &#deportivo{
                background-color: #d53d0e;
                h1{color:#ea9e86;}
            }

            &:last-child{
                border:none;   
            }
        }

    }

    section#mvp{
        @include colored-section;

        background: url(../img/left-corner-25alpha.png) #4d4d4d no-repeat;
        background-size: 130px;
        background-position: bottom right;
        padding: $mobile-padding;
        padding-right: 4.5em;

        &:after{
            padding-bottom: 0%;
        }

        h1{
            @extend %sans;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2em;
        }

        p{
            font-size: .90em;
            line-height: 1.70em;
            letter-spacing: .035em;
        }
    }

    section#valores{
        article{
            width: 50%;
            margin: 0;
            float: left;
            position: relative;
            overflow: hidden;

            &:after{
                content: "";
                padding-bottom: 125%;
                position: relative;
                display: block;
            }

            div.article-wrapper{
                overflow: hidden;
                max-width: 100%;
                position: absolute;
                min-height: 100%;
                top: 0;
                right: 0;
                padding: 1em;
                overflow: hidden;
            }

            h1{
                @extend %sans;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 700;
            }

            p{
                font-size: .75em;
                line-height: 1.5em;
                font-weight: 500;
            }
        }
    }

    section#forma{

        div.form-wrapper{
            position: relative;
            width: 100%;
        }

        form{
            overflow: hidden;
            max-width: 100%;
            position: absolute;
            min-height: 100%;
            top: 0;
            right: 0;
            padding: $mobile-padding;
            overflow: hidden;
            top: 0;
            left: 0;

            fieldset{
                top: 0;
                left: 0;
                max-width: 100%;
            }
        }
    }
}
