.main_logo{
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
}

main#home{
    display: block;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    position: absolute;
    z-index: 10;
    background-color: rgba(255,255,255,.75);    
    .span-3,.span-6{
        min-height: 100%;
    }

    .bloque_wrapper{
        position: relative;
        width: 100%;
        min-height: 100vh;
    }
    .bloque{
        width: 100%;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        margin: 0 auto;
        
        .unidades{
            text-transform: uppercase
        }
    }
    
    .flap{
        &.r{
            background-image:url(img/aleta_der.png);
        }
        &.l{
            background-image:url(img/aleta_izq.png);
        }
    }
}

#pagepiling .section{
    background: crimson no-repeat center center;
    background-size: cover;
    
    &#welcome-splash{
        background-color: white;
    }
}
