body.home{
    
    .nav_sections ul.nav-right.span-9{
        float: none;
        text-align: center;
        width: auto;
        
        li{display: inline; color: $dark-gray; float: none; }
    }
    
    .main_logo{
        max-width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    #pagepiling section{
        background: white no-repeat center center;
        background-size: cover;
        
        &#home{
            //background: $w url(../img/back_shading_upwards.jpg) bottom left repeat-x;    
            background: linear-gradient(to bottom left,white,white,#e0e0e0);
            min-height: 100%;
            
            .pp-tableCell{
                padding-bottom: 93px;
                vertical-align: bottom;
            }
        }
        
        &#modelo{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 1280'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23E6E6E6;%7D .st1%7Bfill:%23D53D0E;%7D .st2%7Bfill:%23333333;%7D%0A%3C/style%3E%3Crect class='st0' width='1920' height='1280'/%3E%3Cpolygon class='st1' points='1920 1279 356.9 1280.1 580.4 506.6 966.5 1.1 1920 0 '/%3E%3Cpolygon class='st2' points='1920 1279 1059.6 1280.1 1236.7 664.7 1839.9 1.1 1920 0 '/%3E%3C/svg%3E");
            
            main , aside{
                display: block;
                
                .hexatitle.left{
                    border: none;
                    &::before{
                        @include hexa_marker($darkest);
                    }
                }
            }
            
            main{
                height: 65%;
                height: 65vh;
                padding: 0 3em;
                margin: 150px 0 130px 0;

                article{
                    padding: 0 3em;
                    p{font-size: .95em;}

                    &:first-child{padding-top: 2%;}
                    &:nth-child(2){padding-top: 10%;}
                    &:last-child{
                        color: $w;
                        padding-top: 20%;

                        & > .hexatitle.left{
                            color:$warn-yellow;
                            &::before{
                                @include hexa_marker($warn-yellow);
                            }
                        }
                    }
                }
            }
            
            aside{
                @include jaggedStrip;
                position: absolute;
                height: 130px;
                bottom: 0;
                padding: 1em 0;
                
                h2{
                    font-size: 2em;
                    overflow: hidden;
                    margin-top: 1em;
                }
                
                .unslider-wrapp{
                    margin: auto;
                    height: 100px;
                    overflow: hidden;                    
                    .unslider-arrow {
                        color:$w;
                    }
                    
                    & > .unslider{
                        position: relative;
                    }
                }
                
                .dtwrapper{
                    padding: 0 1.5em;
                    height: 100px;
                    overflow: hidden;
                    text-align: left;
                    
                    dt{
                        @extend %sans;
                        font-weight: 100;
                        font-size: 5em;
                        color: $w;
                        width: 75%;
                        overflow: hidden;
                        float: left;
                        line-height: 100px;
                        margin: 0;
                        text-transform: uppercase;
                    }
                    
                    dd{
                        margin: auto 0;
                        font-size: .75em;
                        width: 25%;
                        float: left;
                        overflow: hidden;
                        color: $darkest;
                        //line-height: .95em;
                    }
                }
            }
        }
        
        &#contacto{
            background-color: $light-gray;
            
            & > div > div:first-of-type{min-height: 100%; background-color: $darkest;}
            
            aside{
                background-color: $warn-yellow;
                @include framing_h();
                @include f_jagged_h();
                &::before{background-color: $darkest;padding-left: 40%;}
                &::after{padding-right: 40%;}
            
                form{
                    padding: .5em;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    transform:translateY(-50%);
                }
            }
            main{
                min-height: 100%;
                margin: 60px 0 0 60px;
                position: relative;
                
                .wrapper{
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 70%;
                    transform:translate(-50%,-50%);
                    text-align: center;
                    margin: 0 auto;
                }
                
                h1{
                    color:$w;
                    font-size: 3em;
                    padding: 0;
                    
                    &::before{@include hexa_marker($w);}
                    & + h2{
                        text-transform: uppercase;
                        border-bottom-color: $darkest;
                        font-size: 1.5em;
                        line-height: 1em;
                        margin: .5em auto;
                        padding-bottom: .5em;
                    } 
                }
                
                ul.links.unidades li{
                    width: 33.33%;
                    padding: 0;
                    margin: 0;
                    float: left;
                    text-align: center;
                    @extend %serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    cursor: pointer;
                    line-height: 1em;
                    padding-bottom: 30px;
                    
                    &.digital{color:$digital_blue;}
                    &.politico{color:$pol_green;}
                    &.deportivo{color:$sport_orange;}
                }
                
                ul.icons.sociales {
                    margin-top: 50px;
                    
                    li{
                        font-size:4em;
                        text-align: center;
                        color: $grey;
                        cursor: pointer;
                    }
                }

            }
            
            .monolito-wrapper{
                min-height: 100% ;
            }
            
            .monolito{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: auto;
            }
        }
    }    
    
    #cycle {
        
        h3{
            font-size: 2em;
            text-transform: uppercase;
            text-align: center;
            font-weight: 100;
        }
        
        li{
            display: none;
        }
    }    
        
    #unidades{
        position: absolute;
        bottom: 0;
        margin: 0;
        
        h1{
            width: 100%;
            display: inline-block;
            background: $darkest;
            color: white;
            @extend %sans;
            text-align: center;
            line-height: 50px;
            font-weight: 100;
            font-size: 1.25em;
            letter-spacing: .125em;
            margin: 0;
            text-transform: uppercase;
        }
        
         &>div{
            width: 33.33%;
            margin: 0;
            float: left;
            position: relative;
            height: 50px;
             margin: 0;
        }
        
        dt{
            @extend %tooltip;
            @extend %serif;
            width: 100%;
            font-size: 2em;
            text-transform: uppercase;
            line-height: 50px;
            letter-spacing: 0.05em;
            background: $light-gray;
            margin: 0;

            &:last-child{
                border:none;
            }

            &:hover{
                color:white;
                font-weight: 700;
                background: $darkest!important;
                cursor: pointer;
            }
            
            span{display: none;}
            
            &.d{background: linear-gradient(to bottom, $digital_blue_dark, $digital_blue, $digital_blue, $digital_blue);}
            &.p{background: linear-gradient(to bottom, $pol_green_dark, $pol_green, $pol_green, $pol_green);}
            &.s{background: linear-gradient(to bottom, $sport_orange_dark, $sport_orange, $sport_orange, $sport_orange);}
            
            & + *{
                background: $action-color;
                color: $darkest;
                @extend %sans;
                font-weight: 100;
                top: 0;
                margin-top: -70px;
                border: none;
                border-radius: 1px;
                max-width: 90%;
                box-shadow: none;
                
                &::before{content: none; display: none;}
            }
        }
    }
    
    .monolito-wrapper{
        padding: 0;
        margin: 0;
        
        &:first-child{float: left;}
        &:last-child{float: right;}
    }

    @include max-width($mobile) {
        background-color: rgba(255,255,255,.5);    
        padding-top:120px;
        font-weight: 300;
        position: relative;

        .main_logo{max-width: 75%;}
        
        & main > section{
            position: relative!important;
        }
        
        section#main {
            height: 100%;
            height: 100vh;
            overflow: hidden;
            display: block!important;
            
            div#splash{
                position: absolute;
                bottom:200px;
                height: 80%;
            }
            .main_logo{
                position: absolute;
                width: 80%;
                top:50%;
                left: 50%;
                transform: translate(-50%,-60%);
            }
            .bloque{
                display: block;
                position: absolute;
                bottom: 0;
                width: 20%;
                &.cycled{width:60%;left: 20%!important;}
                &:last-of-type{left: 80%;}
            }

            #unidades{
                width:100%; 
                padding: 0!important;
                margin: 0!important;
                clear: none;
                border-radius: 0;
                position: absolute;

                &>div{
                    width: 100%;
                }
            }
            
            
        }
        
        section#modelo{
            .hexatitle.center{
                border-bottom: none;
            }
            
            &>article{
                @include framing_h;
                @include angled_down;
                
                &#estrategias, &#estrategias:after{
                    background-color: $light-gray;
                }
            }
        }
    }
}


.centered-navigation ul li.nav-link{
    @include max-width($mobile) {
        padding-right: 0;
    }
}

html.pagepiled{
    @include max-width($mobile){
        header{ 
            padding-right: 50px;
        }

        .centered-navigation {
            min-height: 90px;

            .nav-link:first-child{
                margin-left: .5em;
            }
            ul li.nav-link a{
                padding-right: .65em;
            }
        }

        ul.hex li{
            padding-left: 1.5em;
            font-size: 1.25em;
            padding-bottom: 0.2em;
            font-weight: 400;
        }
    }
}


body.mobile{
    $mobile-padding: 1.5em;

    section,main{
        display: table!important;
        width: 100%;
    }    

    section.bloque{
        div#cycle{
            margin: 2em auto;

            h3#cycling{
                font-weight: 100;
                text-transform: uppercase;
            }
        }
    }

    .section-header{
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-size: 2.75em;
        text-align: center;
        font-weight: 100;
        display: block;
        padding: 50px;
    }
// TO DEPRECATE...
    section#unidades_negocio{        
        .section-header{
            font-size: 1.5em;
        }

        article.unidades{
            text-transform: uppercase;
            border-radius: 0;

            margin:0;
            width: 33.33%;
            float:left;
            padding: .15em;
            overflow: hidden;
            display: block;
            height: 200px;
            position: relative;

            h1{
                width: 100%;
                font-size: 2.5em;
                line-height: .95em;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-35%,-50%);
                position: absolute;
            }

            &#digital{
                background-color: #1797cd;
                h1{color:#8bcbe6;}
            }
            &#politico{
                background-color: #cdc200;
                h1{color:#e6e080;}
            }
            &#deportivo{
                background-color: #d53d0e;
                h1{color:#ea9e86;}
            }

            &:last-child{
                border:none;   
            }
        }

    }

    section#mvp{
        @include colored-section;

        background: url(../img/left-corner-25alpha.png) #4d4d4d no-repeat;
        background-size: 130px;
        background-position: bottom right;
        padding: $mobile-padding;
        padding-right: 4.5em;

        &:after{
            padding-bottom: 0%;
        }

        h1{
            @extend %sans;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2em;
        }

        p{
            font-size: .90em;
            line-height: 1.70em;
            letter-spacing: .035em;
        }
    }

    section#valores{
        article{
            width: 50%;
            margin: 0;
            float: left;
            position: relative;
            overflow: hidden;

            &:after{
                content: "";
                padding-bottom: 125%;
                position: relative;
                display: block;
            }

            div.article-wrapper{
                overflow: hidden;
                max-width: 100%;
                position: absolute;
                min-height: 100%;
                top: 0;
                right: 0;
                padding: 1em;
                overflow: hidden;
            }

            h1{
                @extend %sans;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 700;
            }

            p{
                font-size: .75em;
                line-height: 1.5em;
                font-weight: 500;
            }
        }
    }

    section#forma{

        div.form-wrapper{
            position: relative;
            width: 100%;
        }

        form{
            overflow: hidden;
            max-width: 100%;
            position: absolute;
            min-height: 100%;
            top: 0;
            right: 0;
            padding: $mobile-padding;
            overflow: hidden;
            top: 0;
            left: 0;

            fieldset{
                top: 0;
                left: 0;
                max-width: 100%;
            }
        }
    }
}
