body.mobile{
    position: relative;
    aside#slideMenu, main#panel{
        width: 100%;
        min-height: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;

        &::-webkit-scrollbar{
            width: 5px;
            background-color: $grey_base;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
            background-color: $grey_base;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $dark-gray;
            border: none;
        }
    }

    aside#slideMenu{
        left: -100%;
        background: $grey_base;
        color: $dark-gray; 
        
        &.active, &.active+main#panel{
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -o-transform: translateX(100%);
            -ms-transform: translateX(100%);
            transform: translatex(100%);
        }
        
        nav{
            position: absolute;
            width: 90%;
            padding: 1.5em;
            margin: 0;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            
            ul.unidades li{
                @extend %serif;
                font-size: 1.25em;
                line-height: 1.75em;
                padding-bottom: .5em;
                text-transform: uppercase;
                font-weight: 100;
                
                &:hover, &:active{color: $darkest;}
            }
            
            ul.sociales li.fa{
                font-size: 3em;
                padding: 10px;
                margin-top: 50px;
                color: $grey;
                
                &:hover, &:active{color: $darkest;}
            }
        }
    }
    main#panel{
        left:0;
    }

    .m-nav-toggler{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2em;
        line-height: 1em;
        margin: 0;
        z-index:99999;
        
        &:hover,&:active{
            color: $action-color;
        }
    }
}