body.portada-seccion {
    background: $grey_base;
    width: 100%!important;
    width: 100vw!important;
    overflow-x: hidden;
    position: absolute;

    main{    
        margin-top: -6em;

        summary#intro{
            text-align: justify;
            //padding-right: 1.5em;
        }

        h1{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 4em;
            line-height:.8em;
            margin-bottom: .5em;
        }

        @include max-width($mobile) {
            p{
                font-size: .85em; 
                border: none;
                border-bottom: 1px dashed $b;
                padding-bottom: 1em;
            }
            h1{
                font-size: 2em;
                line-height: 1em;
            }

            ul li{
                line-height: .95em;
                padding-bottom: .5em;
            }
        }
    }
    
    section{
        
        &.precontacto{padding-bottom: 14%;}
        &.postcontacto{padding-top: 14%;}        
        &.prearrow{padding-bottom: 2.5%;}
        &.postarrow{padding-top: 2.5%;}
        
        h1.hexa_centered{
            text-transform: uppercase;
            text-align: center;
            position: relative;
            font-weight: 700;
            font-size: 2em;
            line-height:.85em;
            border-bottom: 1px solid darken($action-color,.75);
            padding: 0;
            padding-top: 1.2em;

            &::before{
                @include hexa_marker(darken($action-color,.75));
                width: .75em;
                margin-top: -1.3em;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            
            &.sub{
                color: white;
                padding-bottom: .7em;
                border-bottom-color: $darkest;
                margin: 0;

                &::before{
                    @include hexa_marker(#fff);

                }
                & + h2{
                    margin: -1.3em 0 1.5em 0;
                    padding: 0;
                    line-height: 1em;
                    font-size: 1em;
                    text-align: center;
                }
            }
        }
        

        &#servicios{
            @include beveled_corner($action-color);
            //background:$action-color;
            color:white;
            font-size: .9em;
            padding: 1.5em 2.5em;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: .125em;

            li{
                position: relative;
                display: block;
                line-height: 1.5em;
                margin-left: 1.5em;

                &::before{
                    @include arrow_marker(#FFF);
                    left:-1.5em;
                    width: .35em;
                    margin-top: -.15em;
                }
            }

            h1{
                font-size: 2em;
                line-height: 1.5em;
                border-bottom-color: $digital_blue_dark;

                &::before{
                    @include hexa_marker($digital_blue_dark);
                }
            }
        }     

        &#stats{
            text-align: center;
            background: white;

            h1{
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 100;
            }
            
            ul{
                margin-bottom: 3em;
            }

            @include max-width($mobile) {
                li{
                    font-size: 1.5em;
                    line-height: .85em;
                }

                span{

                }
            }
        }

        &#portfolio{
            text-align: center;
            @include framing();
            @include f_arrowdown($darkest);
            background-color: $darkest;
            padding: 50px 0;

            h2{
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 100;
                margin:1.5em auto;
            }

            .grid-item{
                background-color: $digital_blue_dark;
                border-bottom-color: $digital_blue_dark;
                border-right-color: $digital_blue_dark;
                width: 25%;
                height: 18em;
                height: 33vh;
                
                article{

                    h1{
                        display: block;
                        position: absolute;
                        @extend %sans;
                        font-weight: 100;
                        text-transform: uppercase;
                        color: $w;
                        bottom: 2em;
                        text-align: left;
                    }

                    p{
                        display: block;
                        position: absolute;
                        width: 100%;
                        color: transparentize ($w,.75);
                        line-height: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        bottom: 0;
                        margin-bottom: 2em;
                        font-size: .75em;
                        text-align: left;
                    }
                    
                    &:focus,
                    &:hover{
                        background-color: $digital_blue_dark;
                    }
                }
            }
        }

        &#clientes{
            ul {
                width: 100%;
                text-align: center;

                span{
                    margin-bottom: 1em;
                    overflow: hidden;
                    line-height: 10em;
                }

                li {
                    max-width: 14%;
                    margin-right: 3%;
                    display: inline-block;

                    &:last-child{margin-right: 0;}
                }

                figure {
                    display: inline-block;
                    vertical-align: middle;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                figcaption{display: none;}
            }
        }

        &#contacto{
            background-color: $digital_blue;
            @include framing();
            @include f_skewed();

            .wrapper{
                background: crimson;
                padding: 3em;
            }
           
        }
    }
    
    &.mkt_d{
        main h1, .linktext{
            color: $digital_blue_dark;
        }
        
        section{
            &#contacto{
                @include f_skewed($digital_blue, $digital_blue_dark);
            }
            
            &#servicios{
                @include beveled_corner($digital_blue, 20px);
                //background:$digital_blue;
                
                h1{
                    border-bottom-color: $digital_blue_dark;
                    
                    &::before{
                        @include hexa_marker($digital_blue_dark);
                        width: 1em;
                        text-align: center;
                    }
                }
                
            }
            
            &#stats{ color: $digital_blue;}
        }
    }
}

