main.portada-seccion{
    margin-top: -6em;

    p{
        text-align: justify;
        border-right: 1px dashed $b;
        padding-right: 1.5em;
    }
    
    h1{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3em;
        line-height:.85em;
    }
}


section.portada-seccion{
    &#stats{
        text-align: center;
        border-top: 1px solid $b;
        border-bottom: 1px solid $b;

        h1{
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 100;
        }
    }
    
    &#portfolio{
        text-align: center;

        h2{
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 100;
            margin:1.5em auto;
        }
        
        .grid-item{
            
            article{

                h1{
                    display: block;
                    position: absolute;
                    @include josefin;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: $w;
                    bottom: 2em;
                    text-align: left;
                }
                
                p{
                    display: block;
                    position: absolute;
                    width: 100%;
                    color: transparentize ($w,.75);
                    line-height: 1.25em;
                    margin-left: auto;
                    margin-right: auto;
                    bottom: 0;
                    margin-bottom: 2em;
                    font-size: .75em;
                    text-align: left;
                }
            }
        }
    }
    
    &#contacto{
        
        .wrapper{
            background: crimson;
            padding: 3em;
        }
        
        h1{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2em;
            line-height:.85em;
        }
    }
}

