.stats {
    $base-spacing: 1.5em !default;

    padding: $base-spacing / 2;
    margin: 0 auto;

    ul {
        padding: 0;
    }

    li {
        display: block;
        text-align: center;
        font-size: 4em;
        font-weight: bold;
        font-size: 2em;
        line-height:1.05em;
        
        span.subtitle {
            font-size: .5em;
            line-height: .75em;
        }

        strong{
            display: block;
            font-size: 3em;
            line-height: .85em;
        }
    }
}