.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 360px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
    display: none;
    background: black;
    color:white;
    touch-action: auto;
    
    &::-webkit-scrollbar{
        width: 5px;
        background-color: black;
    }
    
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background-color: black;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #F5F5F5;
        border: none;
    }
}

.slideout-menu-left {
    left: 0;
    touch-action: auto;
}

.slideout-menu-right {
    right: 0;
    touch-action: auto;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
    touch-action: auto;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}